- don't do overaction
- only action
- listen the class carefully
- chat only with chatGPT`m

- datatypes

In [1]:
num1=30
num2=20
print(num1)
print(num2)

30
20

In [3]:
num1=30
num2=20
print(num1),print(num2)

30
20

(None, None)

In [4]:
num1=30
num2=20
print(num1,num2)

30 20

In [8]:
a=100
b=200
c=a+b
print('the addition of ',a,'and' ,b, 'is' ,c)

the addition of  100 and 200 is 300

In [18]:
name='python'
age=23
city='hyderabad'
print('My name is',name,'I am',age,'years old','and from',city)

My name is python I am 23 years old and from hyderabad

## format string literals

In [15]:
a=100
b=200
c=a+b
print('the addition of {} and {} is {}'.format(a,b,c))

the addition of 100 and 200 is 300

In [17]:
name='python'
age=23
city='hyderabad'
print('my name is {} im {} years old and from {}'.format(name,age,city))

my name is python im 23 years old and from hyderabad

In [20]:
n1=200
n2=100
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
print('the addition of' ,n1, 'and',n2,'is',add)
print('the subtraction of' ,n1, 'and',n2,'is',sub)
print('the multiplication of' ,n1, 'and',n2,'is',mul)
print('the division of' ,n1, 'and',n2,'is',div)

the addition of 200 and 100 is 300
the subtraction of 200 and 100 is 100
the multiplication of 200 and 100 is 20000
the division of 200 and 100 is 2.0

In [26]:
n1=200
n2=100
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
print(f'the addition of {n1} and{n2} is {add}')
print(f'the  subtraction of {n1} and{n2} is {sub}')
print(f'the multiplication of {n1} and{n2} is {mul}')
print(f'the division of {n1} and{n2} is {div}')

the addition of 200 and100 is 300
the  subtraction of 200 and100 is 100
the multiplication of 200 and100 is 20000
the division of 200 and100 is 2.0

n1=200
n2=100
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
print(f'the addition of {n1} and{n2} is {add}')
print(f'the  subtraction of {n1} and{n2} is {sub}')
print(f'the multiplication of {n1} and{n2} is {mul}')
print(f'the division of {n1} and{n2} is {div}')

## f string

In [27]:
n1=200
n2=100
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
print('the addition of {} and{} is {}'.format(n1,n2,n1+n2))
print('the  subtraction of {} and{} is {}'.format(n1,n2,n1-n2))
print('the multiplication of {} and{} is {}'.format(n1,n2,n1*n2))
print('the division of {} and{} is {}'.format(n1,n2,n1/n2))

the addition of 200 and100 is 300
the  subtraction of 200 and100 is 100
the multiplication of 200 and100 is 20000
the division of 200 and100 is 2.0

$ end $

In [33]:
print(20,end=' ')
print(30)

20 30

In [35]:
print('hello',end=' ')
print('good mng')

hello good mng

- we want to seperate multiple variables in one print statement

In [38]:
print(20,30,50,sep=' @@@ ')

20 @@@ 30 @@@ 50

- end operator used to combine multiple print statements
- sep operator used to seperate multiple variables in a single print statements

In [40]:
print('the addition of 3+4 is' ,3+4,'.')

the addition of 3+4 is 7 .

In [43]:
print('the addition of 3+4 is' ,3+4,'.',sep='')

the addition of 3+4 is7.